.quest-video {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    translate: -70% 0%;
}

.quest-video-canvas {
    width: 25rem;
    height: 15rem;
    background-color: black;
    border-radius: 1rem;
    filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.5));
}

.quest-video-btn-continue {
    border: none;
    background: #02FFCF;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-weight: bold;
    font-family: Helios;
    margin-top: .5rem;
    position: relative;
    cursor: pointer;
    transition: .15s translate;
    user-select: none;
}

.quest-video-btn-continue:hover {
    translate: 0 5%;
    background-color: #02FFCF;
    color: black;
}