@font-face {
    font-family: 'Jura';
    src: url('/fonts/jura/static/Jura-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('/fonts/jura/static/Jura-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('/fonts/jura/static/Jura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('/fonts/jura/static/Jura-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('/fonts/jura/static/Jura-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Helios';
    src: url('/fonts/helios/HeliosExtC_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helios';
    src: url('/fonts/helios/HeliosExtC_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}