/* Style the entire scrollbar */
.scrollbar-1::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
}

/* Style the track (the background of the scrollbar) */
.scrollbar-1::-webkit-scrollbar-track {
    background: rgba(2, 255, 209, 0.1);
}

/* Style the thumb (the draggable part of the scrollbar) */
.scrollbar-1::-webkit-scrollbar-thumb {
    background: rgba(2, 255, 209, .5);
}

/* Style the thumb on hover */
.scrollbar-1::-webkit-scrollbar-thumb:hover {
    background-color: #02FFCF;
}