.settings {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    font-family: Helios;
    padding: 5rem 10rem;
    box-sizing: border-box;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.settings-title {
    font-weight: bold;
    font-size: 2rem;
    opacity: .2;
    color: white;
}

.settings-btn-close {
    padding: 0;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: .5;
    color: white;
    transition: opacity .25s;
    user-select: none;
}

.settings-content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 80%;
    box-sizing: border-box;
    padding-right: 1rem;
}

.settings-btn-close:hover {
    opacity: 1;
}

.settings-slider {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.settings-slider> :first-child {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgba(255, 255, 255, 0.5);
}

.settings-slider-percentage {
    opacity: .5;
    font-weight: bold;
    font-size: .8rem;
}

.settings-slider input {
    appearance: none;
    background: transparent;
    cursor: pointer;
    opacity: .6;
    transition: opacity .25s;
    height: .8rem;
}

.settings-slider input:hover {
    opacity: 1;
}

.settings-slider input::-webkit-slider-thumb {
    appearance: none;
    background-color: #02FFCF;
    height: 100%;
    width: .8rem;
}

.settings-slider input::-webkit-slider-runnable-track {
    background: rgba(2, 255, 209, 0.1);
    height: 100%;
}

.settings-checkbox {
    display: flex;
    gap: .5rem;
    flex-direction: row;
}

.settings-checkbox> :first-child {
    color: rgba(255, 255, 255, 0.5);
}

.settings-checkbox-container {
    position: relative;
    height: 1rem;
    width: 1rem;
    background: rgba(2, 255, 209, 0.1);
}

.settings-checkbox input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.settings-checkbox-container:hover .settings-checkbox-checkmark {
    background: rgba(2, 255, 209, .5);
}

.settings-checkbox-container input:checked~.settings-checkbox-checkmark {
    background: rgba(2, 255, 209, 1);
}

.settings-checkbox-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 60%;
    width: 60%;
    cursor: pointer;
    background: rgba(2, 255, 209, 0.1);
    pointer-events: none;
    transition: all .25s;
}

.settings-number {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.settings-number> :first-child {
    color: rgba(255, 255, 255, 0.5);
}

.settings-number input {
    border: none;
    background: rgba(2, 255, 209, 0.1);
    padding: .5rem;
    outline: none;
    opacity: .6;
    transition: opacity .25s;
    font-size: 1rem;
    color: #02FFCF;
}